* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button.styleButton1 {
  background-color: #f8b653;
  padding: 10px 20px;
  border: 1px solid #f8b653;
  color: white;
  font-size: 16px;
  box-shadow: none;
  transition: all 0.5s;
  border-radius: 8px;
  cursor: pointer !important;
}

button.styleButton1:hover {
  color: #e1b067;
  background-color: black !important;
}

button.styleButton2 {
  background-color: #e1b067;
  padding: 12px 20px;
  border: 1px solid #e1b067;
  color: white;
  font-size: 16px;
  box-shadow: none;
  transition: all 0.5s;
  border-radius: 3px 0 0 3px;
  cursor: pointer !important;
}

button.styleButton2:hover {
  color: #f8b653;
  background-color: black;
}

button.styleButton3 {
  background-color: #e1b067;
  opacity: 0.8;
  padding: 12px 20px;
  border: 1px solid #e1b067;
  color: white;
  font-size: 16px;
  box-shadow: none;
  transition: all 0.5s;
  border-radius: 0 8px 8px 0;
  cursor: pointer !important;
}

button.styleButton3:hover {
  opacity: 1;
}

header nav img.header_logo {
  height: 32px;
  width: 116px;
}
header nav .nav_item ul li a {
  color: white;
}
header nav .nav_item ul li a i {
  color: white;
}
header nav .nav_item ul li a i:hover {
  color: #f8b653 !important;
}
header nav .nav_item ul li a.nav-link:hover {
  color: #f8b653 !important;
}

.menu_header .container {
  margin-top: 24px;
}
.menu_header .container ul {
  padding: 0;
}
.menu_header .container ul li {
  list-style: none;
  display: inline-block;
  margin: 0 27px;
  border-bottom: solid 2px transparent;
  transition: all 0.8s;
}
.menu_header .container ul li.active {
  margin-left: 0;
  border-bottom: solid 2px #f8b653;
}
.menu_header .container ul li.active a {
  font-weight: 400;
}
.menu_header .container ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.8s;
}
.menu_header .container ul li a:hover {
  font-weight: 400;
}
.menu_header .container ul li:hover {
  border-color: #f8b653;
  font-weight: 400;
}

@media screen and (max-width: 767.98px) {
  .menu_header .container ul li {
    margin: 0 20px;
  }
}
@media screen and (max-width: 575.98px) {
  .menu_header .container ul li {
    margin: 0 10px;
  }
  .menu_header .container ul li.active {
    margin-left: 10px;
  }
  .menu_header .container ul li a {
    font-size: 14px;
  }
}
.carousel .container .carousel_item h5 {
  font-size: 40px;
  font-weight: 300;
  max-width: 400px;
}
.carousel .container .carousel_item p {
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.carousel .container .carousel_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .container .carousel-indicators [data-bs-target] {
  height: 20px !important;
  width: 20px !important;
  border-radius: 50%;
  background-color: #dddddc;
}
.carousel .container .carousel-prev-icon,
.carousel .container .carousel-next-icon {
  font-size: 40px;
  color: black;
}
.carousel .container .carousel-control-prev {
  justify-content: start !important;
}
.carousel .container .carousel-control-next {
  justify-content: end !important;
}
.carousel .container .carousel_bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.carousel .container .carousel_bottom img {
  width: 100%;
}

@media screen and (max-width: 991.98px) {
  .carousel .container .carousel_img img {
    width: 80%;
  }
  .carousel .container .carousel_item h5 {
    font-size: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .carousel .container .carousel_img img {
    width: 70%;
  }
  .carousel .container .carousel_item h5 {
    font-size: 18px;
  }
  .carousel .container .carousel_item p {
    font-size: 16px;
  }
  .carousel .container .carousel_item .styleButton1 {
    padding: 6px 14px;
  }
  .carousel .container .carousel-prev-icon,
  .carousel .container .carousel-next-icon {
    font-size: 24px;
  }
  .carousel .container .carousel-indicators [data-bs-target] {
    height: 16px !important;
    width: 16px !important;
  }
}
@media screen and (max-width: 575.98px) {
  .carousel .container .carousel_item h5 {
    font-size: 18px;
    max-width: 300px;
  }
  .carousel .container .carousel_item p {
    font-size: 14px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    max-width: 140px;
  }
  .carousel .container .carousel_item .styleButton1 {
    padding: 6px 14px;
  }
}
@media screen and (max-width: 429.98px) {
  .carousel .container .carousel_item h5 {
    font-size: 12px;
  }
  .carousel .container .carousel_item p {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .carousel .container .carousel_item .styleButton1 {
    padding: 3px 10px;
  }
  .carousel .container .carousel-prev-icon,
  .carousel .container .carousel-next-icon {
    font-size: 24px;
  }
  .carousel .container .carousel-indicators [data-bs-target] {
    height: 12px !important;
    width: 12px !important;
  }
}
.product .container .search form {
  padding: 0 30px;
}
.product .container .search form .form-control {
  border-radius: 8px 0 0 8px !important;
}
.product .container .search form .form-control:focus {
  box-shadow: 0 0 0 1px #e1b067;
}
.product .container .card_body {
  padding: 0 60px;
  position: relative;
}
.product .container .card_body .product_content {
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 1s;
}
.product .container .card_body .product_content:hover {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.product .container .card_body .product_content:hover .product_img img {
  transform: scale(1.3);
}
.product .container .card_body .product_content .product_img {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.product .container .card_body .product_content .product_img img {
  width: 70%;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.product .container .card_body .product_content .product_info {
  text-align: center;
}
.product .container .card_body .product_content .product_info h3 {
  font-weight: 300;
  font-size: 20px;
  transition: font-weight 0.3s ease;
}
.product .container .card_body .product_content .product_info p {
  font-size: 16px;
  font-weight: 300;
  color: #dddddc;
  transition: all 0.3s ease;
}
.product .container .card_body .product_content:hover .product_info h3 {
  font-weight: 500;
}
.product .container .card_body .product_content:hover .product_info p {
  color: black;
}
.product .container .card_body .product_content .product_button {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.product .container .card_body .product_content .product_button p {
  background-color: #dddddc;
  padding: 13px 20px;
  border-radius: 0 3px 3px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
.product .container .card_body .product_content .btnQuickView {
  position: absolute !important;
  top: 0;
  right: 60px;
}

@media screen and (max-width: 1199.98px) {
  .product .container .card_body {
    padding: 0 50px;
  }
}
@media screen and (max-width: 429.98px) {
  .product .container .card_body .modal-content img {
    width: 80%;
  }

