// Biến (variable)
$color_green_100: #f8b653;
$color_green_200: #e1b067;
$color_grey: #dddddc;
$color_white: white;
$color_white_200: #f8f8f8;
$color_black: black;

// Font-size
$fs_text: 16px;
$fs_text_1: 20px;
$fs_text_2: 24px;
$fs_text_3: 32px;
$fs_title: 40px;

// font-weight
$fw_300: 300;
$fw_400: 400;
$fw_500: 500;
$fw_bold: bold;
